name: blog

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  checks-docusaurus:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - name: Test Docusaurus Build
        run: |
          cd blog-website
          if [ -e yarn.lock ]; then
          # yarn install --frozen-lockfile
          yarn install
          elif [ -e package-lock.json ]; then
          npm ci
          else
          npm i
          fi
          npm run build

  # checks-blogger:
  #   if: github.event_name != 'push'
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: actions/setup-node@v1
  #       with:
  #         node-version: '16.x'

  #     - name: Test Blogger Publish
  #       run: |
  #         cd from-docusaurus-to-blogger
  #         if [ -e yarn.lock ]; then
  #         yarn install --frozen-lockfile
  #         elif [ -e package-lock.json ]; then
  #         npm ci
  #         else
  #         npm i
  #         fi
  #         yarn publish-blogs --clientId ${{ secrets.BLOGGER_CLIENT_ID }} --clientSecret ${{ secrets.BLOGGER_CLIENT_SECRET }} --refreshToken ${{ secrets.BLOGGER_REFRESH_TOKEN }} --test

  deploy-to-github:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - name: Add key to allow access to repository
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          cd blog-website
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          echo "${{ secrets.GH_PAGES_DEPLOY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          cat <<EOT >> ~/.ssh/config
          Host github.com
          HostName github.com
          IdentityFile ~/.ssh/id_rsa
          EOT

      - name: Release to GitHub Pages
        env:
          USE_SSH: true
          GIT_USER: git
        run: |
          cd blog-website
          git config --global user.email "actions@gihub.com"
          git config --global user.name "gh-actions"
          if [ -e yarn.lock ]; then
          # yarn install --frozen-lockfile
          yarn install --frozen-lockfile
          elif [ -e package-lock.json ]; then
          npm ci
          else
          npm i
          fi
          npx docusaurus deploy

  # deploy-to-blogger:
  #   if: github.event_name != 'pull_request'
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: actions/setup-node@v1
  #       with:
  #         node-version: '16.x'

  #     - name: Publish to Blogger
  #       run: |
  #         cd from-docusaurus-to-blogger
  #         if [ -e yarn.lock ]; then
  #         # yarn install --frozen-lockfile
  #         yarn install
  #         elif [ -e package-lock.json ]; then
  #         npm ci
  #         else
  #         npm i
  #         fi
  #         yarn publish-blogs --clientId ${{ secrets.BLOGGER_CLIENT_ID }} --clientSecret ${{ secrets.BLOGGER_CLIENT_SECRET }} --refreshToken ${{ secrets.BLOGGER_REFRESH_TOKEN }}
